<div class = "container">
    <div class = "title">
        <span>My Portfolio</span>
    </div>
    <div class = "row">
        <div class = "name">
            <span>Hi, I am</span><br>
            <span>Pranav Chaudhary</span><br>
            <span>Data Science Engineer</span>
        </div>
        <div class = "profile-dp">
            <img src = "assets/images/dp.jpg" alt = "I don't actually look like this.."
            [align]="">
        </div>
    </div>
    <div class="buttonRow">
        <nav>
            <a class = "button" routerLink="/about-me">About Me</a>
            <a class = "button" routerLink="/education">Education</a>
            <a class = "button" routerLink="/skills">Skills</a>
            <a class = "button" routerLink="/work-ex">Work Experience</a>
            <a class = "button" routerLink="/projects">Projects</a>
            <a class = "button" routerLink="/contact">Contact Me</a>
        </nav>        
    </div>
</div>