<div class = "container">
    <div class = "row">
        <h1 class = "title">Contact Me</h1>
        <button routerLink = "" class = "button">Home</button>
    </div>
    <ul>
        <li><a href = "https://github.com/Pranavc22"><i class = "bx bxl-github"></i></a></li>
        <li><a href = "https://www.linkedin.com/in/pranav-chaudhary/"><i class = "bx bxl-linkedin-square"></i></a></li>
        <li><a href = "mailto:pranavmc22@gmail.com"><i class = "bx bxl-gmail"></i></a></li>
        <li><a href = "https://pranavmc22.medium.com/"><i class = "bx bxl-medium-square"></i></a></li>
    </ul>
    <footer>
        <address>
            <h2 class = "subtitle">Address</h2>
            <p class = "info">LM-1206, Supertech Ecociti, Secctor-137, Noida, Uttar Pradesh - 201305</p>
            <h2 class = "subtitle">Mobile No.</h2>
            <p class = "info">+91-9409114775</p>
        </address>
    </footer>
</div>
